In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('ActData1.xlsx')

In [3]:
data.head(5)

,Year,Month,J.D.,DAY,Max_temp,Min_temp,Max_Rh,Min_Rh,Temp,Rh,Dew_Point,P,Kc,Eto,Soil_Moist,Water,Water_content
0,2014,JAN.,1,1,26.8,14.4,91.971153,48.682595,20.6,70.326874,0.731234,0.26,4.15,4.54376,0,1.181378,1.19
1,2014,JAN.,2,2,25.4,15.8,90.055915,46.858820,20.6,68.457368,0.722195,0.26,4.15,4.54376,0,1.181378,1.19
2,2014,JAN.,3,3,25.8,13.8,95.764981,45.118338,19.8,70.441659,0.707755,0.26,4.15,4.44808,0,1.156501,1.16
3,2014,JAN.,4,4,27.4,14.8,85.856523,42.116688,21.1,63.986605,0.715368,0.26,4.15,4.60356,0,1.196926,1.20
4,2014,JAN.,5,5,28.0,14.6,95.764981,41.622417,21.3,68.693699,0.743962,0.26,4.15,4.62748,0,1.203145,1.21

In [4]:
data.columns

Index(['Year', 'Month', ' J.D.', ' DAY', 'Max_temp', 'Min_temp', 'Max_Rh',
       'Min_Rh', 'Temp', 'Rh', 'Dew_Point', 'P', 'Kc', 'Eto', 'Soil_Moist',
       'Water', 'Water_content'],
      dtype='object')

In [5]:
x= data[['Temp','Rh','Soil_Moist']]

In [6]:
x.head(5)

   Temp         Rh  Soil_Moist
0  20.6  70.326874           0
1  20.6  68.457368           0
2  19.8  70.441659           0
3  21.1  63.986605           0
4  21.3  68.693699           0

In [7]:
y= data[['Water_content']]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=101)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()

In [12]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
model.coef_

array([[0.07399847, 0.00644142, 0.        ]])

In [14]:
predictions = model.predict(x_test)

In [15]:
from sklearn import metrics

In [16]:
print (model.score(x_test,y_test)*100)

73.1731366208796

In [18]:
model.predict([[20.68,70.85,0]])

array([[1.20404638]])